@import "tailwindcss";

:root {
  color-scheme: light;
}

* {
  box-sizing: border-box;
}

input,
textarea,
select {
  color: #171717;
  background-color: #fff;
}

body {
  margin: 0;
  font-family: system-ui, "Segoe UI", Roboto, sans-serif;
}


#root {
  height: 100svh;
}
